<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Star Wars</string>
		<key>title</key>
		<string>ジョージ・ルーカス</string>
		<key>bio</key>
		<string>『スター・ウォーズ』シリーズは、ジョージ・ルーカスが温めていた構想を元に映画化された、スペースオペラ作品である。辺境の惑星で奴隷の身分であった一人の少年アナキン・スカイウォーカーとその子供達の成長、銀河系[1]の自由と正義の守護者ジェダイと銀河系の悪と恐怖の信奉者シスの攻防、そして、銀河規模の共同国家体銀河共和国から銀河帝国へ変わり、そして、帝国の圧制に対する反乱により再び復活した「新共和国」への変遷を描いた物語である。</string>
		<key>image</key>
		<string>starwars</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Death Star</string>
		<key>title</key>
		<string>最終兵器</string>
		<key>bio</key>
		<string>デス・スター（Death Star）は、映画『スター・ウォーズ・シリーズ』に登場する架空の宇宙要塞である。</string>
		<key>image</key>
		<string>deathstar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Luke Skywalker</string>
		<key>title</key>
		<string>Hero</string>
		<key>bio</key>
		<string>ルーク·スカイウォーカーは銀河大戦で銀河帝国を倒す助け、助けた新共和国のほか、新ジェダイ·オーダーを発見した力感受性ヒト男性だった。
倒れたジェダイの騎士アナキン·スカイウォーカーとナブーの女王と上院議員の息子として19 BBYに生まれ、パドメ·アミダラ、ルークはタトゥイーンに上げ、パルパティーン皇帝、最近ダース·ベイダーになっていた彼の父、の暗黒卿から隠されていたシス。 0 BBYでは、スカイウォーカーの人生は永遠に変更されました。 2ドロイド、R2-D2とC-3POのチャンス購入は、ジェダイマスターオビ=ワン·ケノービからの力の方法で訓練を受けるようにし、ハン·ソロを満たすために彼につながった、と、に知られずにいた姫レイア·オーガナ、彼、彼の双子の妹。スカイウォーカーは、最初のデススターを破壊し、反乱同盟軍に参加しました。
今後数年間で、彼はローグ中隊を発見するのに役立つと銀河帝国軍との戦い、銀河南北戦争の最も重要な戦いの多くで戦った。 3 ABYでは、スカイウォーカーはヨーダからジェダイの訓練を受け、シス卿が彼の父親であったことベイダーから学んだ。一年後、彼はエンドアの戦いで戦った、そして、光に戻って父親を回すことに成功した。スカイウォーカーのおかげで、パルパティーンは殺された、と帝国は壊滅的打撃を受けた。一年後、新共和国を形成した。
その後の数十年間を通じて、スカイウォーカーが新共和国がゆっくりと帝国の小さな残党を破ったとして、銀河全体の平和を維持する助けた。パルパティーンは、いくつかのクローン体の形で返されると、ルークは一時的にダークサイドに落ちたと復活皇帝の弟子となった。彼は後で彼の友人の助けを借りて償還し、ジェダイ·オーダーを復活の彼の目標を継続した。 11 ABYに、彼は新しいジェダイ·オーダーを設立し、新たなジェダイの第一と​​しての彼の運命を果たし、ジェダイPraxeumにおける力のあり方についてのフォース·sensitivesを教え始めた。この再生の真っ只中にブラックフリートクライシス、Almanian蜂起、及びワルのルアーなど、スカイウォーカーと彼の見習いのために多くの課題を、来たが、スカイウォーカーは、仲間のジェダイと彼の友人に助けられ、各試行を克服することができました。一方、失敗した関係の長いシリーズの後、ルークは仲間のジェダイと19 ABYの旧皇帝の手マラ·ジェイドと結婚した。
数年銀河南北戦争の終結後、スカイウォーカーは最前線で、再びまだ、自分自身を発見。スカイウォーカーはユージャン·ヴォング戦争、銀河系外ユージャン·ヴォング種による侵入の際に、新ジェダイ·オーダーのリーダーを務めた。ベンケノービ：戦争中、スカイウォーカーの妻は、彼らが力の彼の最初のメンターのメモリに、ベンという名前の息子、を出産した。新共和国が最初コルサントの彼の家の落下を含め、押し戻されたようにスカイウォーカーは、数え切れないほどの戦いを耐えた。しかし、新たに改革政府は、フリーアライアンスの銀河連邦自体を標識し、再編成とエイリアンの侵略を押し戻す助けた。戦争の最終段階では、スカイウォーカーは、スカイウォーカーが個人的に最高裁覇王Shimrra Jamaaneの砦とスルーJamaaneへの攻撃を主導しているコルサントに最後の戦いで銀河同盟に参加する惑星を説得、Zonama Sekotの住んでいる世界を求めた。彼の甥、ジェイセン·ソロが、直後にJamaaneの人形マスター、Onimiを殺すという事実と組み合わせると、ユージャン·ヴォングが敗北したとの戦争は終了しました。
ユージャン·ヴォング戦争の後、スカイウォーカーは彼が注文内の争いに対処するためのジェダイ招集を呼び出したダークネスト危機、中にジェダイの中で重要な役割を維持した。不統一に直面して、スカイウォーカーは、グランドマスターと再確立ジェダイ評議会を直接制御のタイトルを想定。第二銀河内乱が数年後に勃発したようにダークネスト危機とスウォーム戦争の成功取り扱いにもかかわらず、平和を持続することは、まだ達成されることになっていた。スカイウォーカーは彼の古い敵Lumiya下シスの弟子となり、彼の最愛のマラを殺し、彼の甥、ジェイセン·ソロとして暗い時間に突入した。彼の悲しみは、さらに同様にダークサイドの近くに彼の息子の踏力によって悪化が、彼はダース·Caedusの名前によって彼の甥、今シス卿によってアライアンスのルールに反対するジェダイ連合を形成し、ジェダイをリードし続けた。スカイウォーカーの助けを借りて、Caedusは戦争が終了し、銀河に平和を復元する、彼の双子の妹ジャイナによって殺された。
戦争の余波で、Natasi Daalaは国家の最高経営責任者の位置まで上昇し、ジェダイ·オーダーと彼女の政府間の緊張をもたらしワイドに広がる反ジェダイ感情を育ん。 Daalaは、最終的にはスカイウォーカーは職務怠慢で逮捕した、と彼の自由と引き換えに、彼はジェダイ·オーダーの業務の中で自分自身が関与するから追放し、禁止された。スカイウォーカーと彼の息子がダークサイドにジェイセン·ソロの秋の原因を発見するために銀河全体のオデッセイに着手した。彼らの旅​​の間に、自他共はシスの失われた部族のほか、Abelothとして知られている邪悪なダークサイド·エンティティを検出しました。彼の息子の助けとジェダイの残りの部分と、スカイウォーカーはグランドマスターとしての彼の位置に戻す。スカイウォーカーと彼の同盟国は、次にシスの脅威をはじかれ、そうシスの同盟国の助けを借りて、銀河を危険にさらす可能性があり、他の災害を防止し、Abelothを破った。最終的に、ルークが亡くなって、力で一つになった。</string>
		<key>image</key>
		<string>luke</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Darth Vader</string>
		<key>title</key>
		<string>Antihero</string>
		<key>bio</key>
		<string>ダース・ベイダー（Darth Vader）は、ジョージ・ルーカスの映画『スター・ウォーズ・シリーズ』に登場する架空の人物。作中における、代表的なアンチヒーローでもある。</string>
		<key>image</key>
		<string>darthvader</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Han Solo</string>
		<key>title</key>
		<string>Scoundrel</string>
		<key>bio</key>
		<string>ハン·ソロは、反乱同盟軍の一員として銀河名声を達成し、後に新共和国の製造の惑星コレリアからのヒト密輸業者だった。コレリアで生まれ、彼は早い年齢で孤立したと彼のクルーに提供するために海賊Garrisモズによって撮影された。彼は残酷に扱われ、彼の十代の若者たちにしばらく時間が脱出する前に、長年にわたってモズを務めた。ソロは密輸業者となり、彼女は彼を残しても原因反乱同盟軍への彼女の職務に、ブリアTharenと恋に落ちた。ソロはその後区別して提供する、カリダの帝国アカデミーに入った。彼はキャプチャに抵抗するためのneuronicむちでチューバッカというウーキーを破ってから帝国将校を停止したとき、彼は、しかし、追い出されました。感謝の気持ちで、ウーキーは彼の人生で彼を保護し、ソロに生命の負債を誓った。彼は彼の側でチューバッカと、再び密輸業者となりました。彼はランド·カルリシアン、彼の将来の同盟国に対するSabaccのゲームで勝ったアップグレードされ、カスタマイズされたミレニアム·ファルコンを、操縦、彼は銀河の中で最高の密輸業者の一つとして知られるようになった。
インペリアル関係者からの実行では、ソロでは反乱同盟軍、オビ=ワン·ケノービ、ルーク·スカイウォーカーと彼はデス·スターからの救助を助けた姫レイア·オーガナ、の礼儀に追いついた。ソロはそれは彼らがオーガナを取っていたヤヴィン4、で反乱軍拠点を攻撃した時·スカイウォーカーがデススターを破壊しました。ソロは、反乱同盟軍の非公式の一員となり、オーガナと恋に落ちた。彼は正式に4 ABYにアライアンスに入社し、すぐに一般的なように依頼された。彼はパルパティーン皇帝が殺されたエンドアの戦いにおいて、第2デス·スターを破壊助けストライクチームを導いた。一年後、新共和国が設立されました。
ソロは8 ABYでオーガナと結婚し、二人は三人の子供だった：ジャイナ、Jacen、そしてアナキンを。新共和国は存在の最初の年で多くの敵に脅かされたため、ソロは時々オーガナの弟だったスカイウォーカー、一緒に旅行、常に移動していた。彼の妻と忠実なウーキーの友人と一緒に、ソロは将軍Zsinj、スローン大提督、生まれ変わったパルパティーン皇帝、提督DaalaとYevethaと戦った。 25 ABYでは新共和国はユージャン·ヴォングに襲われた。続く戦争は4年間続いたと非常に血まみれだった。 Soloの親友チューバッカと息子のアナキン·ソロの両方が、戦時中の元密輸お化け死を死んだ。ヴォングは最終的に敗北したと新共和国は銀河同盟に改質された。 40 ABYには、彼の息子Jacenはフォースのダークサイドになって、銀河同盟の制御を取った。ソロと彼の妻はダース·Caedusに反対する反政府派に参加し、彼らはもはや彼らの息子として彼を見なかったように、2つは、彼を殺すために準備した。戦争の終わりには、ソロはまだGA政府との緊張関係を抱えていた。</string>
		<key>image</key>
		<string>han</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Leia Organa</string>
		<key>title</key>
		<string>Princess</string>
		<key>bio</key>
		<string>レイア·オーガナ·ソロ（レイアアミダラスカイウォーカー生まれ）は革命的な、彼女の人生の様々な段階で、政治家だった、と新ジェダイ·オーダーのジェダイの騎士。ジェダイの騎士アナキン·スカイウォーカーとナブーの議員パドメ·アミダラの娘が、レイアはルーク·スカイウォーカーの若い双子の妹だった、と、すぐに彼女の誕生後、彼女は彼女の王女を作る、保釈·オーガナとオルデランの女王Brehaの養女となったオルデラン。熟練した上院議員、レイア·オーガナは、銀河大戦やその他のその後の銀河の衝突時の彼女の強力なリーダーシップのための最も有名だった彼女の銀河の最大の英雄の1を作る。その後、彼女はハン·ソロと結婚し、3人の子供の母親になった：ジャイナ、Jacen、そしてアナキン·ソロ。スウォーム戦争の開始頃、レイアは無意識のうちにJacenの娘アラナを通じて祖母となりました。
彼女は強力な個性と明るい知性を持っていた、彼女の若さで多くを達成した：彼女は反乱同盟軍のための強力な提唱者、年齢の18歳で、標準的な今までに銀河帝国の最年少議員、そしてオルデランの王室のメンバーだった。数年後、彼女は新共和国の創設に尽力した、そのオフィスで二回提供、国家の最高経営責任者の位置に選出された。
ため彼女の強力なフォース遺産、レイアに、彼女の家族の遺産を次の、新ジェダイ·オーダーでジェダイの騎士となった。彼女は部分的に彼女の弟ルークによって、後にスウォーム戦争の終わりに完全に訓練されたナイト彼女を宣言したジェダイマスターサバSebatyne、訓練を受けた。それは彼女の忠誠を複雑ものの銀河は、第二銀河大戦中に再び内戦に崩壊の縁にteeteredとしてこのトレーニングはよく彼女に役立つであろう。この衝突時には、レイアの息子Jacenはシス卿ダース·Caedusになって、フォースのダークサイドになった。レイアとハンは彼らの息子はすでに死んでいたことを感じ、Caedusを破壊する決定となりました。しかし、それはまた、戦争を締結ライトセーバーの決闘で彼の人生を終えた彼らの娘ジャイナた。
Caedus「死の余波で、ソロは母親、HapesのTenelのKaの要請で、彼らの孫娘アラナの保護者となり、生じた緊張の中ジェダイ·オーダーで立って、銀河の最も重要な人物の2のままであったそれ兼国家のNatasi Daalaの政府間。</string>
		<key>image</key>
		<string>leia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chewbacca</string>
		<key>title</key>
		<string>Co-pilot</string>
		<key>bio</key>
		<string>（彼は彼の友人によって知られていたとして、あるいは「チューイー」、）チューバッカは伝説のキャッシークからウーキーとハン·ソロの船、ミレニアム·ファルコンの副操縦士だった。彼はAttichitcukの息子、Mallatobuckの夫、そしてLumpawarooの父親だった。チューバッカは彼と一緒にキャッシークの偉大な首領の最初の古代のウーキーの英雄、素晴らしいBacca、およびWookieesの間でリーダーシップを示さ剣の作成者の名前を運んだ。この名前は、さらにクローン大戦中に銀河南北戦争中キャッシークの戦いで彼の役割によってサポートされていました高貴な血統、中チューバッカを置いた。
チューバッカは偉大な強さと忠誠心の賢明な、洗練されたされていました。明るいアカデミーの卒業生として、技術に精通したとして、彼はまた、熟練した整備士だった。チューバッカは、多くのWookieesのように、基本を理解することができましたが、彼が原因彼の種のボーカル構造にそれを話すことができませんでした。彼は、その代わりに、通常Basicで答えた彼の非ウーキー同行に、大部分はうなり声とうなり声で構成される、Shyriiwook、メインウーキー言語を話した。
彼は後にユージャン·ヴォング戦争中に死亡した。</string>
		<key>image</key>
		<string>chewie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Obi-Wan Kenobi</string>
		<key>title</key>
		<string>Jedi</string>
		<key>bio</key>
		<string>後で彼の亡命中にベンケノービとして知られているオビ=ワン·ケノービは、銀河共和国の衰退日の間に、銀河の運命に重要な役割を果たした伝説のジェダイマスターだった。彼はフォースの方法で両方のトレーニングを、アナキンとルーク·スカイウォーカーの両方のメンターだった。彼は全体の銀河の運命を形作る助けた長いと激動のキャリアを持っていた。
Stewjonで57 BBQで生まれ、ケノービはクワイ=ガン·ジンのジェダイ見習いとして採用し、彼と一緒に多くのミッションで旅した。 32 BBYでナブーの戦いの間に、ケノービは、彼がナブーの戦いの間、ダース·モールを破った時の戦闘でシス卿を倒すために、約1000年の最初のジェダイになりました、まだ同じ決闘で主人を失った。 22 BBYでは、ケノービは神野上のクローン軍を発見し、彼がキャプチャされ、ほとんどスカイウォーカーと議員パドメ·アミダラとともに、ジオノーシスにPetranakiの分野で実行されました。新たに到着したクローン·トルーパーは、それらを救出したが、次の戦いは銀河全体のクローンウォーズを始めた。
ケノービは、クローン大戦の多くの戦いの間に戦った、とジェダイ最高評議会の最後のメンバーの一人だった。彼の弟子がジェダイの騎士になった後も、ケノービとスカイウォーカーが広く有名なペアになって、一緒に何回も戦った。ケノービは、彼の魅力と穏やかな物腰を通じてあだ名「交渉人」だけでなく、ライトセーバーを持つ彼の能力の静かな脅威を獲得した。ダース·モール、クワイ=ガン·ジンの殺人者：戦争中は、古い敵はケノービを悩ませ戻った。彼の兄弟の助けを借りて、サベージOpress、復活シス卿は、すべての中には、彼の最も軽蔑敵に復讐をプロットする、犯罪者帝国を作成するために行きました。ケノービは銀河全体の機会にモールでブレードを衝突した。モールはジェダイの過去の愛興味を殺しとして彼は荒廃していた、マンダロアの公爵夫人SatineはKryzeは、冷たい血液中に、まだ紛争を通じて堅調に推移しました。その後の戦争で、スカイウォーカーはケノービがUtapauに将軍を殺した後、コルサントの上に戦った戦いで彼の命を救った。しかし、彼はすぐに、オーダー66以下、コマンダーコーディとして、裏切られ、彼に発砲した。
ケノービは彼の昔のメンターグランドマスターヨーダと会って、二人は多くはないジェダイが攻撃を生き延びていたことに気づいた。パルパティーンの支配者からの注文以下、ジェダイ寺に残っているすべてのジェダイを殺すために攻撃を導いた、スカイウォーカー、今フォースのダークサイドに失われた：2彼らは苦渋の真実を学んだジェダイ寺に戻り、共和国、銀河帝国の後継者。ケノービは現在、彼の元弟子や友人、シス卿ダース·ベイダーを決闘するために、ムスタファーに旅した。最後に、ベイダーは、溶岩の嵐にだまされた、とケノービは後悔して死ぬために彼を残しました。ヨーダ、素晴らしいジェダイのパージを生き残るためには、いくつかの他のジェダイの一つは、亡命したが、ケノービはタトゥイーンにラース·ファミリーと一緒に暮らすために、スカイウォーカーとアミダラの息子、ルーク·スカイウォーカーを取った。彼が育ったように、彼は若いスカイウォーカーの友人となったが、彼はスカイウォーカーに彼の実際の身元を言わなかった。
ケノービのまもなくヤヴィンの戦いの前に、0 BBYに再浮上した。レイア·オーガナ、ベイダーの娘とルーク·スカイウォーカーの双子の妹は、帝国によって捕獲された後、彼女は必死に彼に連絡を取った。ケノービは、ルークの父親のライトセーバーを与え、唯一のデススターが惑星を破壊したことを実現するために、ハン·ソロのミレニアム·ファルコンにオルデランに彼と一緒に旅した。ケノービはオーガナを救出するためには、ルーク、ハン、チューバッカ、C-3PO、とR2-D2とデススターに入ったが、ダース·ベイダーは彼の存在を感じた。彼の元弟子との決闘では、ケノービが発効ベイダーが彼の武器で彼を打った瞬間を消失、ルークを逃がすために彼の人生をあきらめた。 3年後、彼の精神はマスターヨーダから学ぶために、ダゴバに彼を導くためにルークに戻った。彼はさらに新ジェダイ·オーダーのルーク·スカイウォーカーの基盤に大きな影響を残り、フォースを使用することにより、彼の自然な寿命より若いジェダイの指導者としての彼の役割を行った。</string>
		<key>image</key>
		<string>obiwan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jar Jar Binks</string>
		<key>title</key>
		<string>Misunderstood Hero</string>
		<key>bio</key>
		<string>ジャー·ジャー·ビンクスは最初のグンガンが初のフル上院議員自身として、彼女の死の後、その後上院議員パドメ·アミダラと一緒にジュニア代表として、そして、銀河元老院で彼の人々を表現することでした。最もグンガンと同様に、ビンクスはひょろっとした、ユニークなアクセントで基本を話した。ナイーブと不器用であるにもかかわらず、ジャー·ジャー·ビンクスは、両方の良いと病気のために、銀河共和国の運命に大きく貢献。彼は一般的な、代表、およびそれ以降の上院議員だった。
ビンクスはまた、タトゥイーンとコルサント、多くのグンガンに取り込まれていない活動として遠くの世界への旅、ナブーの戦いの間、ジンの仲間クワイ=ガンの一つであった。ナブーへの彼のリターンで、彼はグンガングランドアーミーでしばらくBombad将軍を務め、一般セルとグレートグラス平原の戦いの共同の司令官だった。ビンクスは、後で彼の人々は、近くナブーの月大間-D&apos;unを植民地化助けた。ジュニア代表としての彼のキャリアの中で、彼はアミダラのプロキシとして作用し、分離独立危機に対処するために、最高裁パルパティーン緊急権限を与えることを提案した。ビンクスは、新しく改革帝国上院でChommell部門の上院議員としての彼女の場所を取っても、アミダラの死後、彼の公共サービスを継続する。</string>
		<key>image</key>
		<string>jarjar</string>
	</dict>
</array>
</plist>
